
.section1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.s1l .h{
    margin-bottom: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    background-color:#E8F4FA;

}
.h span{
    background-color:#E8F4FA;
}
.btns{
    background-color:#E8F4FA;
}
.section1 img{
    padding-right: 30px;
    padding-top: 23px;
    background-color:#E8F4FA;
}

.s1l .b{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #5C5C5C;
    padding-bottom: 65px;
    background-color:#E8F4FA;
}
.s1l{
    padding-top:128px ;
    padding-left: 123px;
    background-color:#E8F4FA;
}
.section1 .left_btn a{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 204.3%;
    background: #1090CB;
    color: #FFFFFF;
}
.section1 .left_btn{
    padding: 9px 53px;
    background: #1090CB;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 15px;
}
.section1 .right_btn a{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 204.3%;
    background: #FFFFFF;
    color: #1090CB ;
}
.section1 .right_btn{
    padding: 9px 53px;
    cursor: pointer;
    background: #ffffff;
    border: 1px #1090CB solid;
    border-radius: 10px;
    margin-bottom: 165px;
}
.section2{
    display: flex;
    align-items: center;
    border-bottom: 0.7px solid #C4C4C4;
}
.section2 .box1{
    display: flex;
    align-items: center;
    margin-left: 123px;
    margin-bottom: 43px;
    margin-top: 43px;
}
.section2 .box2{
    display: flex;
    align-items: center;
    margin-left: 31px;
    margin-bottom: 43px;
    margin-top: 43px;
}
.section2 .box3{
    display: flex;
    align-items: center;
    margin-left: 29px;
    margin-bottom: 43px;
    margin-top: 43px;
}
.section2 .box4{
    display: flex;
    align-items: center;
    margin-left: 29px;
    margin-bottom: 43px;
    margin-top: 43px;
}
.section2 .box1 .svg{
    margin-right: 16px;
    padding: 25px;
    border-radius: 20px;
    background-color:#EFEAFF;
}
.section2 .box2 .svg{
    margin-right: 16px;
    padding: 25px;
    border-radius: 20px;
    background-color:#ECFFDA;
}
.section2 .box3 .svg{
    margin-right: 16px;
    padding: 25px;
    border-radius: 20px;
    background-color:#DAE6FF;
}
.section2 .box4 .svg{
    margin-right: 16px;
    padding: 25px;
    border-radius: 20px;
    background-color:#FFE5DA;
}
.section2 .h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 175%;
    color: #000000;
}
.section2 .b{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 175%;
    color: #969696;
}
.section3{
    text-align: center;
}
.section3 .h{
    font-family: 'Poppins';
    margin-top: 115px;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 160%;
}
.section3 .b{
    font-family: 'Poppins';
    margin-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    margin-bottom: 55px;
}
.section4{
    display: flex;
    align-items: center;
    margin-left: 123px;
    margin-bottom: 124px;
}
.section4 .s4l .p1{
    display: flex;
    align-items: center;
    margin-bottom: 43px;
    margin-top: 104px;
}
.section4 .s4l .p1 img{
    padding: 16px;
    background-color: #08D3BB;
    border-radius: 50%;
    margin-right: 25px;
}
.section4 .s4l .p1b .h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 175%;
    color: #000000;
}
.section4 .s4l .h span{
    background-color: #FFFFFF;
}
.section4 .s4l .p1b .b{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    color: #868686;
}
.section4 .s4l .h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 170%;
}
.section4 .s4l .bdy{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #545454;
    margin-top: 56px;
}
.s4r img{
    margin-bottom: 26px;
}
.section5{
    display: flex;
    margin-bottom: 86px;
}
.s5l{
    margin-top: 31px;
    margin-left: 81px;
    margin-right: 114px;
}
.s5r .p1{
    display: flex;
    align-items: center;
    margin-top: 116px;
    margin-bottom: 43px;
}
.s5r .p1 img{
    padding: 16px;
    border-radius: 50%;
    background-color: #1090CB;
    margin-right: 25px;
}
.s5r .p1b .h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 175%;
    color: #000000;
}
.s5r .p1b .b{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    color: #868686;
}
.s5r .h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 170%;
}
.s5r .h span{
    background-color: #FFFFFF;
}
.s5r .bdy{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #545454;
    margin-top: 56px;
}
.section6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 123px;
    margin-bottom: 234px;
}
.section6 .s6l .p1{
    display: flex;
    align-items: center;
    margin-bottom: 43px;
    margin-top: 104px;
}
.section6 .s6l .p1 img{
    padding: 16px;
    background-color:#9208D3;
    border-radius: 50%;
    margin-right: 25px;
}
.section6 .s6l .p1b .h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 175%;
    color: #000000;
}
.section6 .s6l .p1b .b{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    color: #868686;
}
.section6 .s6l .h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 170%;
}
.s6l .h span{
    background-color: #FFFFFF;
}
.section6 .s6l .bdy{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #545454;
    margin-top: 56px;
}
.s6r img{
    margin-bottom: 26px;
}
.section7{
    display: flex;
    justify-content: center;
    margin-bottom: 184px;
}
.section7 .box1{
    text-align: center;
    border-radius: 20px;
    background-color: #F4F4F4;
    margin-right: 50px;
}
.section7 .box1 p{
    background-color: #F4F4F4;
}
.section7 .box1 .h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 170%;
    margin-top: 64px;
    color: #252525;
}
.section7 .box1 .b{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    margin: 36px 48px;
    color: #545454;
}
.section7 .box1 button{
    border: none;
    margin-bottom: 49px;
    
}
.section7 .box1 button a{
    padding: 11px 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    background: #1090CB;
    border-radius: 10px;
    color: #FFFFFF;

}
.section7 .box2{
    text-align: center;
    border-radius: 20px;
    background-color: #1090CB;
}
.section7 .box2 p{
    background-color: #1090CB;
}
.section7 .box2 .h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 170%;
    margin-top: 64px;
    color: #FFFFFF;
}
.section7 .box2 .b{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    margin: 36px 48px;
    color: #FFFFFF;
}
.section7 .box2 button{
    border: none;
    margin-bottom: 49px;
    
}
.section7 .box2 button a{
    padding: 11px 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    background: #FFFFFF;
    border-radius: 10px;
    color: #1090CB;
}
.section8{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 159%;
    color: #000000;
    margin-bottom: 11px;
}
.section9{
    margin: 0 155px;
    display: flex;
    justify-content: space-betweens;
    margin-bottom: 43px;
}
.section9 img{
    margin-right: 115px;
}
.fourth{
    margin-right: 0px;
}
.section10{
    background-color:#E8F4FA;
    position: relative;
}
.star{
    position: absolute;
    top: 0px;
    left: 167px;
    background-color:#E8F4FA;
    
}
.pai{
    position: absolute;
    background-color:#E8F4FA;
    top: 94px;
    right: 397px;
}
.bluearea{
    height: 534px;
    position: relative;
    background-color:#E8F4FA;
    text-align: center;
}
.section10 input{
    height: 67px;
    width: 532px;
    margin-right: 14px;
    background: #FFFFFF;
    box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border:none;
}
.bluearea p{
    text-align: center;
    padding-bottom: 80px;
    padding-top: 148px;
    background-color:#E8F4FA;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 170%;
    
}
.search{
    background-color:#E8F4FA;
}
.search button a{
    padding: 20px 43px;
    border-radius: 10px;
    background-color: #000;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 170%;
}
.section10 input::placeholder{
    padding-left: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}
.search button{
    border: none;
}