#services .dot{
    display: block;
}
body{
    margin: 0;
    padding: 0;
    position: relative;

}
.section1{
    text-align: center;
    background: rgba(16, 144, 203, 0.1);
    margin-bottom: 249px;
    padding-bottom: 334px;
}
.section1 img{
    margin-top: 78px;
    padding: 30px;
    border-radius: 50%;
    
    
}
.section1 .h{
    margin-top: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    background: rgba(16, 144, 203, 0.1);
}
.h span{
    background: rgba(16, 144, 203, 0.1);
    
}
.section1 .b{
    display: block;
    padding-top: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    text-align: center;
    color: #696969;
    background: rgba(16, 144, 203, 0.1);
}
.section2{
    position: absolute;
    text-align: center;
    background-color: #FFFFFF;
    top: 582px;
    left: 119px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 4px 114px rgba(0, 0, 0, 0.09);
}
.row1{
    display: flex;
    margin-left: 62px;
    margin-top: 70px;
    align-items: center;
}
.box{
    display: flex;
    align-items: center;
}
.section2 img{
    padding: 25px;
    border-radius: 20px;
}
#mobil img{
    background: #F1E8FF;
    margin-right: 39px;
}
#web img{
    background: #FFF2F2;
    margin-right: 39px;
    margin-left: 98px;
}
.row2{
    display: flex;
    margin-left: 62px;
    padding-right: 82px;
    margin-top: 72px;
    margin-bottom: 92px;
    align-items: center;
}
#seo img{
    background: #E2F3FF;
    margin-right: 39px;
}
#ar img{
    background: #FFE7FB;
    padding: 29px;
    margin-right: 31px;
    margin-left: 160px;
}
.section2 .box .h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 177.9%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 8px;
}
.section2 .box .b{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 177.9%;
    letter-spacing: 0.01em;
    color: #797979;
}
.s3l span{
    background: #FFFFFF ;
}
.section3{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 158px;
}
.s3l{
    margin-left: 119px;
    z-index: 1;
}
.s3l .h{
    margin-top: 109px;
    margin-bottom: 56px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 170%;
}
.s3l .b{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #545454;
    margin-bottom: 6px;
}
.s3l button a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 204.3%;
    color: #1090CB;
    padding: 9px 51px;
    border-radius: 10px;
    border: 1px solid #1090CB;
}
.s3l button {
    border: none;
    cursor: pointer;
}
.s3r{
    position: absolute;
    z-index: 0;
    right: 20px;
}
.contents{
    display: flex;
    background-color: #1090CB;
    justify-content: space-around;
    padding-top: 129px;
    padding-bottom: 135px;
}
.contents .col{
    color: #FFFFFF;
}
.contents .col .h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 100%;
    background-color: #1090CB;
}
.contents .col .b{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 177.9%;
    letter-spacing: 0.01em;
    background-color: #1090CB;
}
.contents .col{
    text-align: center;
    color: #FFFFFF;
}
.section5{
    margin-top: 140px;
    margin-left: 119px;
    margin-bottom: 100px;
}
.section5 #h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 177.9%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 63px;
}
.section5 .main{
    display: flex;
}
.section5 .main img{
    margin-bottom: 40px;
}
.section5 .main .h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 177.9%;
    letter-spacing: 0.01em;
    color: #000000;
}
.section5 .main .b{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 210.9%;
    letter-spacing: 0.01em;
    color: #424242;
}
.section5 .main .con{
    margin-right: 84px;
}
.section6{
    background-color:#E8F4FA;
    position: relative;
    margin-top: 197px;
}
.star{
    position: absolute;
    top: 0px;
    left: 167px;
    background-color:#E8F4FA;
    
}
.pai{
    position: absolute;
    background-color:#E8F4FA;
    top: 94px;
    right: 397px;
}
.bluearea{
    height: 534px;
    position: relative;
    background-color:#E8F4FA;
    text-align: center;
}
.section6 input{
    height: 67px;
    width: 532px;
    margin-right: 14px;
    background: #FFFFFF;
    box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border:none;
}
.bluearea p{
    text-align: center;
    padding-bottom: 80px;
    padding-top: 148px;
    background-color:#E8F4FA;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 170%;
    
}
.search{
    background-color:#E8F4FA;
}
.search button a{
    padding: 20px 43px;
    border-radius: 10px;
    background-color: #000;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 170%;
}
.section6 input::placeholder{
    padding-left: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}
.search button{
    border: none;
}
